*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    margin: 0;
}

.caja1{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'courier nex', Courier;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height:120;
    text-align:center;
    margin: 5px;
    display: inline-block;
}
.text{
    width: 350px
}
.caja2{
    display: inline-block;
}
.caja3{
    display: inline-block;
}
.caja4{
    display: inline-block;
}
.caja5{
    display: inline-block;
}
.punt{
    clip-path: inset(0%,0%,15%,35%);
}